/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .header-area{
    padding: 20px 40px;
    padding-bottom: 10px;
}    

.single-features{
    border-bottom: 1px solid #ddd;
}

.theme-bg .col-xl-4:last-child .single-features{
    border-bottom: 0;
}

.features-area{
    margin-top: 0;
    padding-top: 100px;
}

.slider-inner h2{
    font-size: 30px;
}

.slider-inner p{
    font-size: 15px;
    margin-bottom: 25px;
}

.about-img{
    margin-top: 40px;
}

.subscribe-form input{
    width: 100%;
    margin-bottom: 15px;
}

.pricing-item{
    width: 100%;
}

.testimonial-item{
    padding: 60px 30px;
}

.testimonial-area{
    background-position: center center;
    background-size: cover;
}

.footer-font{
    font-size: 12px;
}

 }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 


.header-area{
    padding: 20px 40px;
    padding-bottom: 10px;
}    

.single-features{
    border-bottom: 1px solid #ddd;
}

.theme-bg .col-xl-4:last-child .single-features{
    border-bottom: 0;
}

.features-area{
    margin-top: 0;
    padding-top: 100px;
}

.slider-inner h2{
    font-size: 30px;
}

.slider-inner p{
    font-size: 15px;
    margin-bottom: 25px;
}

.about-img{
    margin-top: 40px;
}

.subscribe-form input{
    width: 100%;
    margin-bottom: 15px;
}

.pricing-item{
    width: 100%;
}

.testimonial-item{
    padding: 60px 30px;
}

.testimonial-area{
    background-position: center center;
    background-size: cover;
}


 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 

.header-area{
    padding: 20px 40px;
    padding-bottom: 10px;
}

.features-area{
    margin-top: 0;
    padding-top: 100px;
}

.slider-inner h2{
    font-size: 35px;
}

.slider-inner p{
    font-size: 15px;
    margin-bottom: 25px;
}

.single-features{
    border-bottom: 1px solid #ddd;
}

.theme-bg .col-xl-4:last-child .single-features{
    border-bottom: 0;
}

.about-img{
    margin-top: 40px;
}

.subscribe-form input{
    width: 23%;
}

.single-slider{
    background-size: cover;
    background-position: center;
}

 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 

.main-menu ul li{
    margin-left: 20px;
}

.features-area{
    margin-top: 0;
    padding-top: 100px;
}

.slider-inner h2{
    font-size: 44px;
}

}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1500px){  }